.overlay {
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 2;
  background: rgba(0, 0, 0, 0.397);
  visibility: hidden;
  opacity: 1;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
}

.overlayOpen {
  visibility: visible;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.overlayOpen .sideBasket {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.sideBasket {
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 595px;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100%;
  width: 35vw;
  background-color: #fcfcfc;
  z-index: 3;
  padding: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sideBasket h2 {
  margin-bottom: 30px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #000000;
}

.sideBasket .flex1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  /* justify-content: center; */
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sideBasket__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-align: center;
}

.greenBtn {
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
  -webkit-transition: 0.5s ease, border 0.1ms ease;
  transition: 0.5s ease, border 0.1ms ease;
}

.greenBtn:hover {
  background: #bbee7d;
}

.payment .greenBtn {
  position: relative;
  width: 100%;
}

.payment .greenBtn .comeBackArrow {
  left: 50px;
  top: 21px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.payment .greenBtn img {
  right: 50px;
  top: 21px;
  position: absolute;
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.payment .greenBtn:hover .fowardArrow {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.payment .greenBtn:hover .comeBackArrow {
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}

.payment li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 19px;
}

.payment div {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
  margin: 0px 7px 0px 7px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: #d3d0d0 dashed 1.5px;
}

.payment__total {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.payment__price {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.basketEmpty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70%;
  margin: auto 0;
}

.basketEmpty img {
  margin: 0 auto;
}

.basketEmpty h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #000000;
}

.basketEmpty p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #000000;
  opacity: 0.4;
}

@media (max-width: 1040px) {
  .sideBasket {
    min-width: 364px;
  }
}

.orderIsProcessed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 70%;
  margin: auto 0;
}

.orderIsProcessed img {
  margin: 0 auto;
}

.orderIsProcessed h2 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-align: center;
  color: #bbee7d;
}

.orderIsProcessed p {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */
  text-align: center;
  color: #000000;
  opacity: 0.4;
}
