html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}
body{
  width: 100%;
  height: 100%;
  font-family:'Inter', sans-serif;
}

input,button{
  font-family: "Inter";
}
.App {
  text-align: center;
}
.wrapper {
  max-width: 1080px;
  margin: 0px auto 0px auto;
}


/* _________________________________ */

.searchBlock{
display:flex;
justify-content:space-between;
padding: 40px 60px 0px 60px;
  background-color: #FFFFFF;;
}

.searchBlock__title{
display: flex;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
/* identical to box height */

color: #000000;
margin: 0px 20px 0px 0px;

}

.search__input{
border: 0;
margin: 0px 0px 0px 10px;
outline:none;

}
.searchBlock__search{
  /* Rectangle 30 */

display: flex;
box-sizing: border-box;
width: 250px;
height: 45px;
border: 1px solid #d3d0d0;
border-radius: 10px;
font-size: 16px;
align-items: center;
padding: 0px 0px 0px 10px;

}

@media(max-width: 595px) 
{
  .searchBlock{
    flex-wrap: wrap;
    justify-content: center;
    .searchBlock__title{
      margin: 0px 20px 15px 0px;
      
    }
  }
}

/* _________________________________ */
main{
  background: rgb(255, 255, 255);
  padding: 40px 20px 0px 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}





/* ________________________________________________ */

.overlay{
  overflow: auto;
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  min-height: 100%;
  z-index: 2;
  background: rgba(0, 0, 0, 0.397);

  
}

